@use 'variables' as *;

@mixin grid($rows: null, $columns: null, $gap: null, $row-gap: null, $column-gap: null) {
    display: grid;
    gap: $gap;
    row-gap: $row-gap;
    column-gap: $column-gap;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
  } 


$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px
);

// Mixin for container
@mixin container {
  max-width: 1280px;
  margin: 0 auto;
  
  @each $size, $value in $breakpoints {
    @media (max-width: $value) {
      width: 100%;
      padding: 0 15px;
    }
  }
}


@mixin respond($breakpoint) {

  @if $breakpoint ==largeScreen {
      @media (max-width: 1440px) {
          @content;
      }
  }


  @if $breakpoint ==MidScreen {
      @media (max-width: 1199px) {
          @content;
      }
  }

  @if $breakpoint ==IpadMini {
      @media (max-width: 1024px) {
          @content;
      }
  }

  @if $breakpoint ==large {
      @media (max-width: 992px) {
          @content;
      }
  }

  @if $breakpoint ==medium {
      @media (max-width: 768px) {
          @content;
      }
  }

  @if $breakpoint ==small {
      @media (max-width: 576px) {
          @content; 
      }
  }
}
