@use '../variables' as *;
@use '../mixin' as *;


.single {
    .product-content .grid-block {
        align-items: flex-start;  
    }

    p {
        margin: 16px 0;
    }
}

.upload-docs {
   margin: 25px 0;
   @include respond('large') {
    display: flex;
    justify-content: center;
    gap: 20px;
   }
}
