@use '../variables' as *;
@use '../mixin' as *;

.servicesSwiper {

    img {
        width: 100%;
    }

    .slide__content {
        position: relative;
        background: #fff;
        padding: 40px;
        text-align: left;
        border-bottom: 3px solid #ec1f27;
    }

    h3 {
        margin: 0;
        font-size: 24px;
    }

    p {
        margin: 16px 0;
    }

    .swiper-button-prev, .swiper-button-next {
        color: #ec1f27;
        width: 30px;
        height: 30px;
    }

    .swiper-button-prev::after, .swiper-button-next::after {
        font-size: 30px;
    }
} 